---
const { name, url, logo, xcodeVersion, macOSVersion } = Astro.props;
---

<a
    href={url}
    class="flex flex-col gap-5 align-center text-center no-underline group"
    target="_blank"
    rel="noopener noreferrer"
>
    <img
        class=`sm:w-16 w-12 m-0 aspect-square object-contain group-hover:scale-125 transition-transform ${name === 'GitHub Actions' || name === 'CircleCI' ? 'dark:invert' : ''}`
        src={logo}
        alt={name}
    />
    <div class="flex flex-col gap-2">
        <div class="flex items-center text-center gap-1">
            <img class="m-0 w-6 dark:invert" src="/providers/xcode-logo.webp" />
            <p class="no-underline m-0 font-normal text-sm">{xcodeVersion}</p>
        </div>
        <div class="flex items-center text-center gap-1">
            <img class="m-0 w-6 dark:invert" src="/providers/macos-logo.webp" />
            <p class="no-underline m-0 font-normal text-sm">{macOSVersion}</p>
        </div>
    </div>
</a>
