---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const {
  title,
  description,
  image,
  heroTitle = "Stay up to date with the latest iOS CI/CD news",
  heroDescription = "Every two weeks, directly to your inbox and packed with everything you need to know and be aware of so that you're always prepared for the next app release!",
  ctaType = "subscribe",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href="/ci-newsletter.svg" type="image/svg+xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={"RSS Feed for the iOS CI Newsletter"}
      href="/issues/rss.xml"
    />

    <meta property="og:url" content="https://ioscinewsletter.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@polpielladev" />
    <meta name="twitter:creator" content="@polpielladev" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <script
      src="https://cdn.usefathom.com/script.js"
      data-site={import.meta.env.FATHOM_ENTITY_ID}
      defer></script>
  </head>
  <body class="dark:bg-gray-900 bg-gray-50">
    <main class="flex flex-col gap-12">
      <Header
        title={heroTitle}
        description={heroDescription}
        ctaType={ctaType}
      />
      <div class="max-w-4xl mx-auto px-4">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
